.latestcomment{
    clear: both;
}
.comment_nev{
    margin: 4px;
    background-color: #222;
    color: #f8f8f8;
    padding: 3px;
}
.comment_text{
    padding: 4px;
    margin: 2px;
}
.comment_date{
    font-size: 11px;
    font-style: italic;
    color: #222;
}